---
import Layout from '../../layouts/Layout.astro';

interface Skin {
  id: string;
  num: number;
  name: string;
  chromas: boolean;
  description: string;
}

const { id } = Astro.params;
const URL_CHAMPIONS = `https://ddragon.leagueoflegends.com/cdn/13.23.1/data/es_MX/champion.json`;
const URL_API = `https://ddragon.leagueoflegends.com/cdn/13.23.1/data/es_MX/champion/`;
const URL_SPLASH_LOADING = `https://ddragon.leagueoflegends.com/cdn/img/champion/`;
const URL_IMG_CHAMPION_PASSIVE_SPELL = `https://ddragon.leagueoflegends.com/cdn/13.23.1/img/`;

const response = await fetch(`${URL_API}${id}.json`);
const { data } = await response.json();
const nameObject = Object.keys(data)[0];
// console.log(data);

const { name, title, lore, spells, passive, skins, allytips, enemytips } =
  data[nameObject];
console.log(data[nameObject]);
console.log(skins);

const letters = ['Q', 'W', 'E', 'R'];
---

<Layout title={id!}>
  <article class="card">
    <h1 class="title">{name}: {title}</h1>
    <img src={`${URL_SPLASH_LOADING}loading/${id}_0.jpg`} alt={name} />
    <div class="info">
      <p class="blurb">{lore}</p>
    </div>
  </article>
  <h2>Spells</h2>
  {
    (
      <article class="spells">
        <img
          src={`${URL_IMG_CHAMPION_PASSIVE_SPELL}passive/${passive.image.full}`}
          alt={name}
        />
        <div>
          <p class="spell-name">(P) {passive.name}</p>
          <p class="spell-description">{passive.description}</p>
        </div>
      </article>
    )
  }
  {
    spells.map(({ name, description, id }: Skin, index: number) => (
      <article class="spells">
        <img
          src={`${URL_IMG_CHAMPION_PASSIVE_SPELL}spell/${id}.png`}
          alt={name}
        />
        <div>
          <p class="spell-name">
            ({letters[index]}) {name}
          </p>
          <p class="spell-description">{description}</p>
        </div>
      </article>
    ))
  }
  <h2>Ally Tips</h2>
  <div class="tips">
    {
      allytips.length > 0 ? (
        allytips.map((tip: string) => <p>{tip}</p>)
      ) : (
        <h3>No hay tips</h3>
      )
    }
  </div>
  <h2>Enemy Tips</h2>
  <div class="tips">
    {
      enemytips.length > 0 ? (
        enemytips.map((tip: string) => <p>{tip}</p>)
      ) : (
        <h3>No hay tips</h3>
      )
    }
  </div>
  <h2>Skins</h2>
  {
    skins.map((skin: Skin) => {
      if (skin.num === 0) return;
      const skinImage = `${id}_${skin.num}`;
      return (
        <article class="skins">
          <a href={`/info/${id}/${skinImage}`}>
            <img
              src={`${URL_SPLASH_LOADING}splash/${skinImage}.jpg`}
              alt={skin.name}
            />
          </a>
          <p class="skin-name">{skin.name}</p>
        </article>
      );
    })
  }
</Layout>

<style>
  body {
    width: 100%;
  }
  h1,
  h2,
  h3 {
    text-align: center;
    margin: 0;
  }
  h2 {
    margin: 2rem auto;
    border-top: 2px solid white;
    width: 90%;
    padding-top: 2rem;
    margin-top: 3rem;
  }
  .card {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
  .card img {
    width: 90%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
  }
  .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem auto;
  }
  .blurb {
    font-size: 1.3rem;
    line-height: 2.2rem;
  }
  .info {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 0 2rem;
  }
  .spells {
    display: flex;
    justify-content: start;
    align-items: center;
    border: 2px solid gray;
    gap: 1rem;
    width: 90%;
    margin: 2rem auto;
    box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.5);
  }
  .spells img {
    width: 100px;
    height: 100px;
  }
  .spell-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .spell-description {
    font-size: 1rem;
    line-height: 1.5rem;
    opacity: 0.7;
    padding: 0 1rem 0 0;
  }
  .skins {
    display: flex;
    justify-content: start;
    align-items: center;
    border: 2px solid gray;
    width: 70%;
    margin: 1rem auto;
    flex-direction: column;
  }
  .skins img {
    width: 100%;
  }
  .tips {
    width: 70%;
    margin: 0 auto;
    border: 2px solid gray;
    padding: 1rem;
    margin: 2rem auto;
  }
  .tips p {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
</style>
